/* Navigation */
nav{
	background-color: #FCFBDF;
}

#profile-button{
	width: 100px;
	height: 100px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

#profile-dropdown{
	position: relative;
}

#icon{
	border: solid gray 1px;
	border-radius: 100%;
}

/* Main content */
.content{
	display: flex;
	flex-direction: column;
    align-items: center;
	margin-top: 50px;
}

.subcontent{
	border: solid gray 2px;
	border-radius: 50px;
	padding: 50px;
}

.entry{
	padding: 5px;
}

.btn-primary{
	background-color: #e0242d;
	border-color: black;
}

.btn-primary:hover{
	background-color: #91171d;
}

h1{
	font-family: Ginger;
	text-align: center;
	color: #e0242d;
}

h2{
	font-family: Ginger;
	text-align: center;
}

@font-face {
	font-family: Ginger;
	src: url(../font/F37\ Ginger\ Regular.ttf);
}