/* Navigation */
nav{
	background-color: #FCFBDF;
}

#profile-button{
	width: 100px;
	height: 100px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

#profile-dropdown{
	position: relative;
}

#icon{
	border: solid gray 1px;
	border-radius: 100%;
}

/* Main content */
.content{
	display: flex;
	flex-direction: column;
    align-items: center;
	margin-top: 50px;
	text-align: center;
}

.subcontent{
	padding-top: 10px;
	padding-bottom: 10px;
}

.entry{
	padding: 5px;
}

.btn-primary{
	background-color: #e0242d;
	border-color: black;
}

.btn-primary:hover{
	background-color: #91171d;
}

h1{
	font-weight: bold;
	font-family: Ginger;
	color: #e0242d;
}

h2{
	font-size: 24px;
	font-family: Ginger;
}

/*Course Plan - Drag and Drop*/
#courseplan tr {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
}

#courseplan td {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	align-items: center;

	width: 500px;
	height: 240px;

	padding-top: 10px;
	padding-bottom: 10px;

	border-style: solid;
	border-width: 2px;
	border-color: lightgrey;
}

#cp-xlabel {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	align-items: center;

	width: 500px;

	padding-top: 10px;
	padding-bottom: 10px;
}


#cp-ylabel {
	padding-right: 15px;
}

.cp-unit {
	display: flex;
	height: 50px;
	width: 350px;
	background: black;
	border-radius: 14px;
	margin-bottom: 5px;
}

.cp-dragButton {
	align-items: center;
	cursor: pointer;
	background-color: white;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	padding: 10px 10px;
}

.cp-dragButton img {
	width: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.cp-info {
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 5px;
    width: 100%;
}

.cp-header {
	display: grid;
    align-items: start;
}

.cp-header h1 {
	color: white;
	font-size: 18px;
	font-weight: unset;
	margin: 0;
    text-align: left;
}

.cp-credits {
    grid-column-start: 2;
    margin: 0 auto;
    margin-right: 10px;
    white-space: nowrap;
}

.cp-credits h1 {
	color: white;
	font-weight: unset;
	font-size: 14px;
	margin: 0;
}

.cp-subheader {
	display: block;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	width: 280px;
	text-overflow: ellipsis;
}

.cp-subheader p {
	color: white;
	font-size: 13px;
	margin: 0;
}

#totalcreditspoints {
	padding-top: 10px;
	text-align: right;
	font-weight: bold;
	font-size: 20px;
}



@font-face {
	font-family: Ginger;
	src: url(../font/F37\ Ginger\ Regular.ttf);
}
