<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Course Planner</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<!--Nav Menu-->
	<nav class="navbar navbar-expand-md">
		<div class="container-fluid">
			<img src="../images/logo.png" class="img-fluid logo" width="250"></img>
			
			<!--Account Drop down-->
			<div id="profile-dropdown" class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="profile-button" data-bs-toggle="dropdown" aria-expanded="false">
					<img id="icon" src="../images/Default Profile Icon.png" alt="">
					Guest
					<span id="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-lg-end">
					<li><a href="" class="dropdown-item">Login</a></li>
					<li><a href="" class="dropdown-item">Help</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!-- Body-->
	
	<div class="container content">
		<h1>This is a title</h1>
		<h2>Sub title</h2>
		<div class="container subcontent">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis vel sit facere modi aspernatur nisi corrupti dolore quam odit animi, voluptatum assumenda sequi nam tempora quis maiores! Porro, doloribus sed!
		</div>
	</div>
	
	
</body>
</html>